body {
    color: white;
    background-color: #292517;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}
    

.link {
    color: #FAF9F6;
    font-size: clamp(2em, 8vw, 7em);
    width: fit-content;
    text-decoration: none;
}

.link span:hover {
    color: #c4b794;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vert {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nomg {
    margin: 0;
}

.footlink {
    color: #FAF9F6;
    padding: 0px;
    font-size: clamp(.3em, 1vw, 1em);
    padding: clamp(0.25em, 1vw, 1em) clamp(0.25em, 1vw, 1em);
    width: fit-content;
    text-decoration: none;
}

.footlink:hover {
    color: #c4b794;
}

.personal {
    color: #FAF9F6;
    display: block;
    padding: 0px;
    font-size: clamp(0.6em, 2vw, 2em);
    width: fit-content;
    text-decoration: none;
}

footer {
    margin-top: auto;
}